@model IEnumerable<tauledesign.Models.Article>


<div class="article-grid">
    <div class="row">
        <nav class="col-xs-12  category-nav">
            @Html.ActionLink("All", "Work", "Home")
            @Html.ActionLink("Gallery", "Work", "Home")
            @Html.ActionLink("Collections", "Work", "Home")
            @Html.ActionLink("Runway", "Work", "Home")
        </nav>
    </div>
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ordinal)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ordinal)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>*@
</div>
